  <div class="mt-2 mb-1 border-0">
    <syn-multi-textfield
      placeholder="Serial Number"
      [uppercase]="true"
      [rowMinimum]="1"
      [(entries)]="serialNumbers">
    </syn-multi-textfield>
  </div>

  <mat-form-field appearance="outline"
    class="w-100 mat-form-field-no-padding">
    <mat-label>Category</mat-label>
    <mat-select placeholder="Category"
      [(ngModel)]="categoryId"
      name="categorySelect">
      <mat-option>- None -</mat-option>
      <mat-option *ngFor="let category of is.durablesCategories"
        [value]="category.id">
        {{category.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline"
    class="w-100 mat-form-field-no-padding">
    <mat-label>Manufacturer</mat-label>
    <mat-select placeholder="Manufacturer"
      [(ngModel)]="manufacturerId"
      name="manufacturerSelect">
      <mat-option>- None -</mat-option>
      <mat-option *ngFor="let manufacturer of is.manufacturers"
        [value]="manufacturer.id">
        {{manufacturer.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline"
    class="w-100 mat-form-field-no-padding">
    <mat-label>Notes</mat-label>
    <textarea matInput
      placeholder="Notes"
      rows="3"
      [(ngModel)]="notes"
      name="notesTextarea"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline"
    class="w-100 mat-form-field-no-padding">
    <mat-label>Active</mat-label>
    <mat-select placeholder="Active"
      [(ngModel)]="active"
      name="activeSelect">
      <mat-option [value]="true">
        Yes (Default)
      </mat-option>
      <mat-option [value]="false">
        No
      </mat-option>
    </mat-select>
  </mat-form-field>

  <tag-field
    [dictionary]="is.tags"
    bindValue="id"
    bindLabel="value"
    [(itemIds)]="tagIds">
  </tag-field>