<h4 class="mat-dialog-title">
  Consumable: {{consumable.label}}
</h4>
<mat-dialog-content>
  <ng-container *ngIf="default">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Label: {{consumable.label}}
      </li>
      <li class="list-group-item">
        Category: {{consumable.categoryVal}}
      </li>
      <li class="list-group-item">
        Manufacturer: {{consumable.manufacturerVal}}
      </li>
      <li class="list-group-item">
        Notes: {{consumable.notes}}
      </li>
      <li class="list-group-item">
        Tags: <ng-container *ngFor="let tag of consumable.tags; let last = last;">
          {{tag.value}}<ng-container *ngIf="!last">,</ng-container>
        </ng-container>
      </li>
      <li class="list-group-item">
        Checked Out: {{consumable.checkedOut}}
      </li>
      <li class="list-group-item">
        Owned: {{consumable.quantity}}
      </li>
    </ul>
  </ng-container>
  <ng-container *ngIf="editing">
    <mat-form-field appearance="outline"
      class="w-100">
      <mat-label>Label</mat-label>
      <input matInput
        spellcheck="false"
        placeholder="Label"
        [(ngModel)]="editedConsumable.label"
        name="labeTextfield">
      <mat-hint>required</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline"
      class="w-100">
      <mat-label>Quantity</mat-label>
      <input matInput
        type="number"
        placeholder="Quantity"
        [(ngModel)]="editedConsumable.quantity"
        name="quantityTextfield">
    </mat-form-field>

    <mat-form-field appearance="outline"
      class="w-100">
      <mat-label>Category</mat-label>
      <mat-select placeholder="Category"
        [(ngModel)]="editedConsumable.categoryId"
        name="categorySelect">
        <mat-option>- None -</mat-option>
        <mat-option *ngFor="let category of is.consumablesCategories"
          [value]="category.id">
          {{category.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline"
      class="w-100">
      <mat-label>Manufacturer</mat-label>
      <mat-select placeholder="Manufacturer"
        [(ngModel)]="editedConsumable.manufacturerId"
        name="manufacturerSelect">
        <mat-option>- None -</mat-option>
        <mat-option *ngFor="let manufacturer of is.manufacturers"
          [value]="manufacturer.id">
          {{manufacturer.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline"
      class="w-100">
      <mat-label>Notes</mat-label>
      <textarea matInput
        placeholder="Notes"
        rows="3"
        [(ngModel)]="editedConsumable.notes"
        name="notesTextarea"></textarea>
    </mat-form-field>

    <tag-field
      [dictionary]="is.tags"
      bindValue="id"
      bindLabel="value"
      [(itemIds)]="editedConsumable.tagIds">
    </tag-field>
  </ng-container>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="mr-auto option-button"
    mat-stroked-button
    color="basic"
    mat-dialog-close>
    Close
  </button>
  <button *ngIf="editing"
    class="option-button"
    mat-stroked-button
    color="basic"
    (click)="cancelButtonPressed()">
    Cancel
  </button>
  <button *ngIf="editing"
    class="option-button"
    mat-stroked-button
    color="basic"
    (click)="saveButtonPressed()">
    Save changes
  </button>
  <button *ngIf="default"
    class="option-button"
    mat-stroked-button
    color="basic"
    (click)="editButtonPressed()">
    Edit
  </button>
  <button *ngIf="default"
    class="option-button"
    mat-stroked-button
    mat-dialog-close
    color="basic"
    (click)="checkoutButtonPressed()">
    Check out
  </button>
  <button *ngIf="default"
    class="option-button"
    mat-stroked-button
    color="basic"
    (click)="viewAssignmentsButtonPressed()">
    View Assignments
  </button>
</mat-dialog-actions>