<h4 class="mat-dialog-title">
  Check out Assets
</h4>
<mat-dialog-content>
  <div class="d-flex-row">
    <asset-select [(assetIds)]="assetIds"
    class="flex-1">
    </asset-select>
    <div style="width:20px"></div>
    <user-select [(userId)]="userId"
      class="ml-auto flex-1">
    </user-select>
  </div>
  <div class="text-center">
    <p>From: <ng-container *ngIf="pickedFromDate">{{ fromString }}</ng-container></p>
    <p>To: <ng-container *ngIf="pickedToDate">{{ toString }}</ng-container></p>
    <strong *ngIf="pickedFromDate && pickedToDate">Duration: {{duration}} day(s)</strong>
  </div>
  <input type="text"
    class="w-100 text-center"
      name="daterangeInput"
      daterangepicker
      [options]="options"
      (selected)="selectedDate($event, daterange)"/>
  <date-range>
  </date-range>
    
    <!--range-datepicker
      [(fromDate)]="pickedFromDate"
      [(toDate)]="pickedToDate">
    </range-datepicker-->

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button
    color="basic"
    mat-dialog-close
    (click)="checkoutButtonClicked()"
    [disabled]="!readyToCheckout()">
    Check out
  </button>
</mat-dialog-actions>