<h4 class="mat-dialog-title">
  Check out Assets
</h4>
<mat-dialog-content>
  <div class="d-flex-row">
    <asset-select [(assetIds)]="assetIds"
    class="flex-1">
    </asset-select>
    <div style="width:20px"></div>
    <user-select [(userId)]="userId"
      class="ml-auto flex-1">
    </user-select>
  </div>
  <date-range [(startDate)]="checkoutDate"
    [(endDate)]="dueDate"
    [(isIndeterminate)]="isIndeterminate"
    [(valid)]="validDates">
  </date-range>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button
    color="basic"
    mat-dialog-close
    (click)="checkoutButtonClicked()"
    [disabled]="!readyToCheckout()">
    Check out
  </button>
</mat-dialog-actions>