<ul class="list-group">
  <li *ngFor="let row of rows; let i = index;"
    class="list-group-item center-aligned-row border-0 py-0 px-0"
    style="background-color: transparent">
    <button *ngIf="deletable()"
      type="button"
      tabindex="-1"
      class="btn btn-link cancel-add-btn center-aligned-row p-0 ml-0 mr-1"
      (click)="minusButtonClicked()">
      <i class="fas fas fa-times-circle"></i>
    </button>
    <div class="input-group"
      [ngClass]="{
        'first': first(i),
        'middle': middle(i),
        'penultimate': penultimate(i),
        'last': last(i)
      }">
      <div *ngIf="rowCount > 1"
        class="input-group-prepend border-right-only">
        <span class="input-group-text border-right-only bg-transparent">{{i + 1}}</span>
      </div>
      <input type="text"
        class="form-control border-0"
        [(ngModel)]="entries[i]"
        name="entry"
        [placeholder]="getPlaceholderText(i+1)"
        [ngClass]="{
          'text-uppercase': uppercase
        }">
    </div>
    <button *ngIf="last(i)"
      type="button"
      class="btn btn-link center-aligned-row p-0 ml-1 mr-0"
      style="border:transparent"
      (click)="plusButtonClicked()">
      <i class="fas fas fa-plus-circle"></i>
    </button>
  </li>
</ul>