@import "~src/styles.scss";

.input-group-text {
  border-radius: 0px!important;
}

$radius: $border-radius;
$border: solid 1px $border-color;

.border-right-only {
  @extend .border-right;
  @extend .border-left-0;
  @extend .border-top-0;
  @extend .border-bottom-0;
}

.input-group-wrapper {
  position: relative;
}
.shared-properties {
  border: $border;
  > {
    border-radius: $border-radius;
  }
}

.first {
  @extend .shared-properties;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}
.middle {
  @extend .shared-properties;
}
.penultimate {
  @extend .middle;
  border-bottom-right-radius: $radius;
}
.last {
  @extend .middle;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

.first-thick {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}
.penultimate-thick {
  border-bottom-right-radius: $radius;
}
.last-thick {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

$cancel-color: red;
.cancel-add-btn {
  color: $cancel-color!important;
  &:hover {
    color: darken($cancel-color,20%)!important;
  }
}