<h4 class="mat-dialog-title">
  Check out Assets
</h4>
<mat-dialog-content>
  <div class="d-flex-row">
    <asset-select
      [(assetIds)]="assetIds">
    </asset-select>
    <user-select [(userId)]="userId"
      class="ml-auto">
    </user-select>
  </div>
  <div class="text-center">
    <p>From: <ng-container *ngIf="pickedFromDate">{{ fromString }}</ng-container></p>
    <p>To: <ng-container *ngIf="pickedToDate">{{ toString }}</ng-container></p>
    <strong *ngIf="pickedFromDate && pickedToDate">Duration: {{duration}} day(s)</strong>
  </div>
  <div class="d-flex-row justify-content-center">
    <range-datepicker
      [(fromDate)]="pickedFromDate"
      [(toDate)]="pickedToDate">
    </range-datepicker>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button
    color="basic"
    mat-dialog-close
    (click)="checkoutButtonClicked()"
    [disabled]="!readyToCheckout()">
    Check out
  </button>
</mat-dialog-actions>