<div class="full-height px-5 pb-4 y-scroll">

  <div class="page-title center-aligned-row">
    <h1>Browse Assets</h1>
    <div class="d-flex-row align-items-center ml-auto mr-2">
      <button type="button"
        class="btn btn-link has-label-hover order-2 center-aligned-row p-0"
        (click)="openAddAsset()">
        <i class="fas fa-plus-circle fa-2x"></i>
      </button>
      <div class="label-hover order-1 mr-1 border-0">
          add asset
      </div>
    </div>
  </div>

  <mat-tab-group [(selectedIndex)]="assets.browseAssetsTabIndex">
    <mat-tab label="Durables">
      <div class="px-2">
        <browse-durables></browse-durables>
      </div>
    </mat-tab>
    <mat-tab label="Consumables">
      <div class="px-2">
        <browse-consumables></browse-consumables>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>