@import '../../../../styles';

$label-height: 8px;
$input-size: 97%;

$border: solid 1px $border-color;

.padding-override {
  padding-left: $spacer!important;
}

.overlay {
  position: absolute;
  left: 0px;
  top: $label-height;
  min-width: 100%;
  min-height: calc(100% - #{$label-height});
  background-color: transparent;
  opacity: 1;
  pointer-events: none;
  border: $border;
  border-radius: $border-radius;
}