<mat-form-field class="w-100">
  <mat-label>User</mat-label>

  <input #input
    matInput
    spellcheck="false"
    [placeholder]="placeholder"
    [matAutocomplete]="auto"
    [(ngModel)]="textfield"
    name="userSelect"
    (input)="filter()">

    <i *ngIf="userId"
      matSuffix
      class="fas fa-check text-success">
    </i>
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete"
  [panelWidth]="panelWidth">
  <virtual-scroll [items]="filteredDictionary"
    (vsUpdate)="viewPortItems = $event">
    <mat-option *ngFor="let user of viewPortItems"
      [value]="user">
      {{user.name}}
    </mat-option>
  </virtual-scroll>
</mat-autocomplete>

<ng-template #popoverContent>
  <ng-container *ngIf="user">
    <ul class="list-group list-group-flush">
      <li class="list-group-item p-1">
        Email: {{user.email}}
      </li>
      <li class="list-group-item p-1">
        Assignments:
        <ul class="list-group list-group-flush">
          <li *ngFor="let assignmentId of user.assignmentIds"
            class="list-group-item py-0 border-0">
            {{assignments.getAssetText(assignmentId)}}
          </li>
        </ul>
      </li>
    </ul>
  </ng-container>
</ng-template>

<!--#popover="ngbPopover"
    [ngbPopover]="getPopoverContent()"
    triggers="mouseenter:mouseleave"
    placement="bottom"
    container="body"
    (click)="popover.close()"-->