<mat-form-field class="w-100 mat-chip-list-no-margin">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let item of items"
      [selectable]="true"
      [removable]="true"
      (removed)="remove(item)">
      {{item[bindLabel]}}
      <mat-icon matChipRemove>
        cancel
      </mat-icon>
    </mat-chip>
    <input #itemInput
      [placeholder]="placeholder"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matAutocomplete]="auto"
      (matChipInputTokenEnd)="add($event)"
      (click)="showAutoComplete()">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete"
    [panelWidth]="panelWidth"
    (optionSelected)="selected($event)">

    <ng-container *ngIf="!rowTitles">
      <mat-option *ngFor="let item of filter(dictionary,itemInput.value)"
        [value]="item[bindValue]">
        {{item[bindLabel]}}
      </mat-option>
    </ng-container>

    <ng-container *ngIf="rowTitles">
      <mat-optgroup *ngFor="let row of dictionary; let i = index;"
        [label]="rowTitles[i]">
        <mat-option *ngFor="let item of filter(row,itemInput.value)"
          [value]="item[bindValue]"
          [disabled]="!enabledItems(dictionary).includes(item)">
          {{item[bindLabel]}}
        </mat-option>
      </mat-optgroup>
    </ng-container>

  </mat-autocomplete>
</mat-form-field>