<h4 *ngIf="assignmentId" class="mat-dialog-title">
  Assignment: {{assignmentName}}
</h4>
<mat-dialog-content>
  <edit-assignment-content
    [assignmentId]="assignmentId">
  </edit-assignment-content>
  <!--div class="text-center">
    <p>From: <ng-container *ngIf="pickedFromDate">{{ fromString }}</ng-container></p>
    <p>To: <ng-container *ngIf="pickedToDate">{{ toString }}</ng-container></p>
    <strong *ngIf="pickedFromDate && pickedToDate">Duration: {{duration}} day(s)</strong>
  </div>
  <div class="d-flex-row justify-content-center">
    <range-datepicker
      [(fromDate)]="pickedFromDate"
      [(toDate)]="pickedToDate">
    </range-datepicker>
  </div-->

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button
    color="basic"
    mat-dialog-close
    (click)="checkinButtonClicked()">
    Check in
  </button>
</mat-dialog-actions>