<table class="table table-striped table-hover">
  <thead>
    <th scope="col">
      Serial Number
    </th>
    <th scope="col">
      Category
    </th>
    <th scope="col">
      Manufacturer
    </th>
    <th scope="col">
      Notes
    </th>
    <th scope="col">
      Tags
    </th>
    <th scope="col">
      Availability
    </th>
    <th scope="col">
      Active
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let durable of assets.durables"
      (click)="openEditDurable(durable)">
      <td>
        {{durable.serialNumber}}
      </td>
      <td>
        {{durable.categoryVal}}
      </td>
      <td>
        {{durable.manufacturerVal}}
      </td>
      <td>
        {{durable.notes}}
      </td>
      <td>
        <p *ngFor="let tag of durable.tags">
          {{tag.value}}
        </p>
      </td>
      <td>
        {{durable.availableVal}}
      </td>
      <td>
        {{durable.activeVal}}
      </td>
    </tr>
  </tbody>
</table>