<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>Add Asset</h4>
    <button type="button"
      class="close"
      (click)="d('Cross click')">
      <span>&times;</span>
    </button>
  </div>
  <form (ngSubmit)="onSubmit()">
    
    <div class="modal-body">

      <mat-form-field appearance="outline"
        class="w-100">
        <mat-label>Serial Number</mat-label>
        <input matInput
          placeholder="Serial Number"
          class="test">
        <mat-hint>*required</mat-hint>
      </mat-form-field>

      <div class="form-group">
        <label for="categorySelect">
          Category
        </label>
        <select id="categorySelect"
          class="form-control form-control-sm"
          [(ngModel)]="categoryId"
          name="categorySelect">
          <option [ngValue]="0">- Select Category -</option>
          <option *ngFor="let category of is.asset_categories"
            [ngValue]="category.id">
            {{category.value}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="manufacturerSelect">
          Manufacturer
        </label>
        <select id="manufacturerSelect"
          class="form-control form-control-sm"
          [(ngModel)]="manufacturerId"
          name="manufacturerSelect">
          <option [ngValue]="0">- Select Manufacturer -</option>
          <option *ngFor="let manufacturer of is.asset_manufacturers"
            [ngValue]="manufacturer.id">
            {{manufacturer.value}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="notesTextarea">
          Notes
        </label>
        <textarea id="notesTextarea"
          class="form-control form-control-sm"
          rows="3"
          [(ngModel)]="notes"
          [placeholder]="'8GB of RAM, 1TB storage, etc..'"
          name="notesTextarea"></textarea>
      </div>

      <div class="form-group">
        <tag-input id="tagsInput"
          [(ngModel)]="tags"
          [secondaryPlaceholder]="'Tags'"
          name="tags">
          <tag-input-dropdown [showDropdownIfEmpty]="true"
            [keepOpen]="false"
            [autocompleteItems]="is.tagsAsJson()"
            [appendToBody]="false">
          </tag-input-dropdown>
        </tag-input>
      </div>

      <div class="form-group">
        <label for="activeSelect">
          Active
        </label>
        <select id="activeSelect"
          class="form-control form-control-sm"
          [(ngModel)]="active"
          name="activeSelect">
          <option [ngValue]="true">
            Yes (Default)
          </option>
          <option [ngValue]="false">
            No
          </option>
        </select>
      </div>

      <mat-form-field>
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field>
      
    </div>
      
    <div class="modal-footer">
      <button type="submit"
        class="btn btn-outline-dark">
        Add Asset
      </button>
    </div>

  </form>
</ng-template>