<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4>Add Asset</h4>
    <button type="button"
      class="close"
      (click)="d('Cross click')">
      <span>&times;</span>
    </button>
  </div>
  <form (ngSubmit)="onSubmit()">
    
    <div class="modal-body">
      <div class="form-group">
        <label for="serialNumberTextfield">
          Serial Number
        </label>
        <input id="serialNumberTextfield"
          type="text"
          class="form-control text-uppercase"
          placeholder="Serial Number"
          [(ngModel)]="serialNumber"
          name="serialNumberTextfield">
      </div>

      <div class="form-group">
        <label for="categorySelect">
          Category
        </label>
        <select id="categorySelect"
          class="mx-2"
          [(ngModel)]="categoryId"
          name="categorySelect">
          <option [ngValue]="0"></option>
          <!--option>
          </option-->
        </select>
      </div>

      <div class="form-group">
        <label for="manufacturerSelect">
          Manufacturer
        </label>
        <select id="manufacturerSelect"
          class="mx-2"
          [(ngModel)]="manufacturerId"
          name="manufacturerSelect">
          <option [ngValue]="0"></option>
          <!--option>
          </option-->
        </select>
      </div>

      <div class="form-group">
        <label for="notesTextarea">
          Notes
        </label>
        <textarea id="notesTextarea"
          class="form-control"
          rows="3"
          [(ngModel)]="notes"
          name="notesTextarea"></textarea>
      </div>

      <div class="form-group">
        <label for="assignableSelect">
          Assignable
        </label>
        <select id="assignableSelect"
          class="mx-2"
          [(ngModel)]="assignable"
          name="assignableSelect">
          <option [ngValue]="true">
            Yes
          </option>
          <option [ngValue]="false">
            No
          </option>
        </select>
      </div>
    </div>
      
    <div class="modal-footer">
      <button type="submit"
        class="btn btn-outline-dark">
        Add Asset
      </button>
    </div>

  </form>
</ng-template>