<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand"
    href="#">
    {{title}}
  </a>
  <div class="navbar-nav">
    <a class="nav-item nav-link"
      routerLink="/settings"
      routerLinkActive="active">
      Settings
    </a>
    <a class="nav-item nav-link"
      routerLink="/browse-assets"
      routerLinkActive="active">
      Browse
    </a>
    <a class="nav-item nav-link"
      routerLink="/directory"
      routerLinkActive="active">
      Directory
    </a>
  </div>
</nav>