<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand"
    href="#">
    {{title}}
  </a>
  <div *ngIf="auth.hasRole('admin')"
    class="navbar-nav">
    <a class="nav-item nav-link"
      routerLink="/settings"
      routerLinkActive="active">
      Settings
    </a>
    <a class="nav-item nav-link"
      routerLink="/browse-assets"
      routerLinkActive="active">
      Browse
    </a>
    <a class="nav-item nav-link"
      routerLink="/directory"
      routerLinkActive="active">
      Directory
    </a>
    <a class="nav-item nav-link"
      routerLink="/history"
      routerLinkActive="active">
      History
    </a>
  </div>
  <div class="navbar-nav ml-auto">
    <a  *ngIf="auth.loggedIn"
      class="nav-item nav-link"
      routerLink="/dashboard"
      routerLinkActive="active">
      Dashboard
    </a>
    <a *ngIf="!auth.loggedIn"
      class="nav-item nav-link"
      routerLink="/login"
      routerLinkActive="active">
      Log In
    </a>
    <button *ngIf="auth.loggedIn"
      class="btn btn-outline-success ml-2"
      (click)="logOutButtonClicked()">
      Log out
    </button>
  </div>
</nav>