@import "../../../../styles";

.edit-show {
  display: none;
  line-height: 0px;
}
.card {
  &:hover {
    .edit-show {
      display: block;
    }
  }
}

.new-item {
  border-left: 5px solid blue!important;
  margin: 0px;
}