<mat-tab-group class="mat-dialog-title no-header"
  [(selectedIndex)]="viewAssignmentTabIndex">
  <mat-tab>
    Assignments: {{multiassigned.name}}
  </mat-tab>
  <mat-tab>
    <button-tight
      (click)="goBack()"
      iconClasses="fas fa-chevron-left">
    </button-tight>
  </mat-tab>
</mat-tab-group>
<mat-dialog-content>
  <mat-tab-group class="no-header w-100"
    [(selectedIndex)]="viewAssignmentTabIndex">
    <mat-tab>
        <ul *ngIf="multiassigned.assignmentIds.length > 0; else noAssignments"
          class="list-group w-100">
          <li *ngFor="let assignmentId of multiassigned.assignmentIds"
            class="list-group-item list-group-item-action"
            (click)="openViewAssignment(assignmentId)">
            {{getOther(assignmentId,multiassigned.id).name}}
          </li>
        </ul>
        <ng-template #noAssignments>No assignments right now!</ng-template>
    </mat-tab>
    <mat-tab>
      <edit-assignment-content
        [assignmentId]="assignmentId">
      </edit-assignment-content>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions  align="end">
  <mat-tab-group class="no-header mat-modal-no-margins w-100"
    [(selectedIndex)]="viewAssignmentTabIndex">
    <mat-tab>
      <button mat-stroked-button
        color="basic"
        mat-dialog-close
        (click)="viewAssetButtonClicked()">
        View Asset
      </button>
    </mat-tab>
    <mat-tab>
      <button mat-stroked-button
        color="basic"
        (click)="checkinButtonClicked()">
        Check in
      </button>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-actions>